blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 0;
  padding: 0.5em 10px;
}

blockquote p {
  margin: 0 0 10px 0;
}

#ss-wrapper {
  padding: 20px;
  font-size: 1.2em;
}

.ss-wrapper-andada {
  font-family: 'andada', serif;
}

.ss-wrapper-lato {
  font-family: 'lato', sans-serif;
}

.ss-wrapper-pt-serif {
  font-family: 'pt serif', sans-serif;
}

.ss-wrapper-pt-sans {
  font-family: 'pt sans', sans-serif;
}

.ss-wrapper p {
  padding: 0 0 10px 0;
}