language: node_js
node_js:
- '4'
env:
- MAJOR_VERSION="0."
before_install:
- openssl aes-256-cbc -K $encrypted_3ce67b88f93c_key -iv $encrypted_3ce67b88f93c_iv
  -in deploy-creds.tar.enc -out deploy-creds.tar -d
- tar xvf deploy-creds.tar
script: node build.js